.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: $radius-lg;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1000;
    background-color: $color-white;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    cursor: pointer;
    text-align: center;
    @include respond(tab-land) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__button::after {
    content: '';
    display: block;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: $radius-lg;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 100;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    transition: transform 0.8s cubic-bezier(0.54, -0.04, 0.29, 1.02);

    @include respond(tab-land) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.33, -0.74, 0.09, 1.51);
  }

  &__list {
    width: 100%;
    list-style: none;
    text-align: center;
    @include centerAbsolute;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-grey-light-1;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      background-image: linear-gradient(
        120deg,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }

    span {
      margin-right: 1.5rem;
      display: inline-block;
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }
  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(180 - 45deg);
    }
    &::after {
      top: 0;
      transform: rotate(180 + 45deg);
    }
  }

  &__checkbox:checked ~ &__button:hover &__icon::before {
    transform: scale(1.1) rotate(180 - 45deg);
  }
  &__checkbox:checked ~ &__button:hover &__icon::after {
    transform: scale(1.1) rotate(180 + 45deg);
  }
}
